
@media (max-width: 600px) {
   
}
    
.a {
    position: absolute;
    width: 364px;
    height: 61px;
    left: 43px;
    top: 41px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;

    color: #FFE600;
    


}

.g{
    display: inline-block;
    color: black;
    background-color: yellow;
    text-decoration: none;
    padding: 100px 200px;
    border-radius: 5px;
    position: absolute;
    height: 6px;
    left: 842px;
    top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
}
.f{
    display: inline-block;
    color: black;
    background-color: red;
    text-decoration: none;
    padding: 12px 32px;
    border-radius: 5px;
    position: absolute;
    
    width: 277px;
    height: 28px;
    left: 62px;
    top: 225px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;

    color: #000000;

}
.b{
    display: inline-block;
    color: black;
    background-color: red;
    text-decoration: none;
    padding: 12px 32px;
    border-radius: 5px;
    position: absolute;
    position: absolute;
    width: 95px;
    height: 29px;
    left: 505px;
    top: 225px;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
text-align: center;
}
.c{
    display: inline-block;
    color: black;
    background-color: red;
    text-decoration: none;
    padding: 12px 32px;
    border-radius: 5px;
    position: absolute;
    position: absolute;
    position: absolute;
    width: 101px;
    height: 29px;
    left: 865px;
    top: 225px;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
text-align: center;
}
.d{
    display: inline-block;
    color: black;
    background-color: red;
    text-decoration: none;
    padding: 12px 32px;
    border-radius: 5px;
    position: absolute;
width: 147px;
height: 29px;
left: 1193px;
top: 225px;
text-align: center;
text-transform: uppercase;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
    }
.e{
    position: absolute;
    width: 206px;
    height: 29px;
    left: 78px;
    top: 371px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    text-align: center;
    text-transform: uppercase;
    color: #4AC6CE;
}

.Ja{
    background-color: #F9F4C9;
    position: absolute;
width: 371px;
height: 39px;
left: 65px;


font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;

color: #000000;
}
.f:hover{
    background-color: darkorange;
    color: black;
}

.b:hover{
    background-color: darkorange;
    color: black;
}
.c:hover{
    background-color: darkorange;
    color: #000000;
}
.d:hover{
    background-color: darkorange;
    color: #000;
}






